<style>
  
/* basic elements */
  
html {
    margin: 0;
    padding: 0;
    }
  
/* Used */
h1 h2 h3{
    font-family: Raleway;
    font-size: 180%;
    color: #5900b3;
 }
  
.menu-side-container {
    text-align: right;
    margin-left: 0px;
    padding-left: 0px; 
    padding-bottom: -10px;
    font-size: 75%;
    background-color: #eee;
}
  
.section {
    font-family: Raleway;
    color: #5900b3;
    margin-top: 100px;
    margin-bottom: -35px;
    margin-left: 60px;
    font-size: 140%;
}
 
#Pubcontainer {
    width: 1000px;
    height: 25px;
    margin: auto auto;
    margin-left: 50px;
    margin-right: 100px;
    background-color: #eee;
    box-shadow: 5px 25px 5px #888888;
}
  
#container {
    width: 1000px;
    height: 325px;
    margin: auto auto;
    margin-left: 50px;
    margin-right: 100px;
    background-color: #eee;
    box-shadow: 5px 5px 10px #888888;
}
  
body { 
    font-family: Roboto, sans-serif;
    line-height: 1.88889;
    color: #000000; 
    /*background: #fff url(brain6.png) no-repeat center center; 
    background-size: cover;*/
    margin: 0; 
    padding-top: 0px;
    height:100%;
    width: 100%;
    }

p { 
    margin-top: 0; 
    text-align: justify;
    }
 
h3 { 
    font: italic normal 1.2em Roboto, sans-serif;
    letter-spacing: 1px; 
    margin-bottom: 10px; 
    color: #666666;
    text-shadow: 2px 2px 10px #888888;
    }
  
a:link { 
    font-weight: regular; 
    text-decoration: none; 
    color: #5900b3;
    }
a:visited { 
    font-weight: regular; 
    text-decoration: none; 
    color: #8c1aff;
    }
a:hover, a:focus, a:active { 
    text-decoration: none; 
    cursor: pointer;
    color: #bf83fb;
    }
  
header h1 { 
    background: transparent;
    margin: auto auto;
    padding: 0px 0px;
    display: block;
/*  width: 219px;
    height: 87px;*/
    float: center;
    color: #B7A5DF; 
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    }
  
/*header {
    padding-top: 0px;
    display: block;
    background: transparent url(R.png) no-repeat center top fixed; /*40% 0%; brain6.png, brain5.jpg*/
    /*background-color: #ffffff; 
    background-size: 90% auto;
    /*background: transparent url(brain6.png) no-repeat 60% top fixed; /*40% 0%; brain6.png, brain5.jpg*/
    /*background-color: #000000;/*#000000;*//* */
    /*border-left: 5px; /* Need to add the bottom border*/
/*}*/
  
header {
    min-width: 770px;
    width: 90%;
    min-height: 157.5px; 
    height: 22.5%;
    max-height: 275px;
    display: block;
    height: 275px;
    background: url(R.png) no-repeat 100% 0%;
    background-size: 90%;
    background-color: #ffffff;
}
  
  
  
nav {
    /*padding-top: 282px;
    margin-bottom: 100px;*/
    width: 100%;
    font-size: 2rem;
    margin: auto auto;
    padding-left: 0;
}

nav h1 {
    margin-top: 5%;
    min-width: 815px;
    color: #5900b3;
    font-family: Raleway;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
  
table {
    margin: auto auto;
    font-family: Roboto;
    border-spacing: 20px; 
    min-width: 815px;
}
  
td {
    text-align: center;
    margin: 50px 50px;
    margin-left: 10px;
}

td a:visited { 
    font-weight: regular; 
    text-decoration: none; 
    color: #5900b3;
    }
td a:hover, a:focus, a:active { 
    text-decoration: none; 
    cursor: pointer;
    color: #bf83fb;
    }
  
/* Sub Menus */
/*
.dropdown-content {
    display: inline;
}
  
.dropdown:hover {
    cursor: default;
}
.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}*/
  
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!Add Shadow to Gray block to make look pretty!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
  
div.main{
    width: 1000px;
    height: 350px;
    margin: 0 auto;
    margin-left: 45px;
    margin-top: -20px;
    background-color: #b3b3b3;
    box-shadow: 5px 5px 10px #888888;
    /*border: 3px solid #5900b3;*/
}
  
span.mainResearch {
    width: 730px;
    margin: 31px 28px 25px 35px;
    font-family: 'Amiko', Roboto, sans-serif;
    float: left;
    line-height: 1.3;
    display: inline-block;
    position: absolute;
}

.intextCite {
	font-size: 70%;
}
  
div.supplement {
    width: 1000px;
    padding: 20px;
    margin-bottom: 40px;
    /*font-family: 'Amiko', serif;*/
    float: left;
    line-height: 1.3;
}

h1.research {
    font-family: Raleway;
    font-size: 180%;
    margin-bottom: -10px;
    color: #5900b3;
  
} 

.research_questions {
    font-style: italic;
    font-weight: bold;
    text-align: justify;
    margin-left: 30px;
    font-size: .75em;
}

#ReseachFigure {
    display: inline-block;
    width: 180px;
    height: 290px;
    float: right;
    margin: 45px 28px 25px 35px;
}
 
#figure {
    margin-bottom: 0px;
}
  
#cite {
    margin-top: -5px;
    font-size: 50%;
    font-weight: bold;
}
  
#cite a {
    text-decoration: underline;
    color: #5900b3;
    font-weight: bold;
}

#cite a:hover, a:focus, a:active { 
    cursor: pointer;
    color: #bf83fb;
}

.blurb {
    margin-bottom: 55px;
}

.project_questions {
    font-style: italic;
    font-weight: bold;
    text-align: left;
}
  
h1.PubSection, h2.PubSection {
    font-family: Raleway;
    font-size: 180%;
    color: #5900b3; 
}

.mainPub {
	margin-bottom: 40px
}

.pubentry {

}

.me {
    font-weight: bold;
    font-family: Roboto, sans-serif;
}

.Pubtitle {

}

.Conftitle{
	font-style: italic;
}

.location {

}

.journal {
	font-style: italic;
}

.note{
	text-decoration: italic;
	font-size: 80%;
}  

#BottomNote {
	padding-bottom: 100px;
}

span.mainAbout {
    width: 700px;
    margin-top: 7px;
    padding: 25px;
    font-family: 'Amiko', sans-serif;
    float: right;
    line-height: 1.3;
}
  
#photo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 35px;
    margin-right: 0px;
}

.resourceBlock {
    display: inline-block;
    width: 485px;
    height: 325px;
    margin-top: -10px;
    background-color: #b3b3b3;
    box-shadow: 5px 5px 10px #888888;
    /*border: 3px solid #5900b3;*/
}

.resourcetext {
	padding: 20px 20px 20px 20px;
	line-height: .8em;
}

.resourcetext .links {
	line-height: 1.3;
}

.resourceBlock h1 {
	font-family: Raleway;
    font-size: 180%;
    color: #5900b3;
    text-align: center;
    margin-top: 8px;
}

.resourceBlock h3{
    color: #000000;
    text-decoration: underline;
}

.left {
	position: relative;
	float: left;
}

.right {
	position: relative;
	float: right;
	margin-left: 8px;
}

.ContactMe {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 100px;
}

.ContactMe h1{
	font-family: Raleway;
    font-size: 180%;
    color: #5900b3;
    margin-bottom: 0px;
}

p a {
    text-decoration: underline;
    font-weight: bold;
}
  
td {
    color: #ffffff;
}
  
li {
    display: inline; 
    padding-right: 10px;
    padding-left: 10px; 
    margin-bottom: 0px;
    list-style-type: none;
    }
li a:link {
    color: #5900b3;
    font-weight: regular;
    }
li a:visited {
    color: #5900b3;
    font-weight: regular;
    }
li a:hover {
    color: #bf83fb;
    font-weight: regular;
    }
</style>