<style>

.root{
  --bg_color: #888;
  --bg_light: #eee;
  --primary_color: #5900b3;
  --primary_alpha: #5900b366;
}

.random{ 
    -webkit-transition: background 300ms ease-in 2100ms; /* property duration timing-function delay */
    -moz-transition: background 300ms ease-in 2100ms;
    -o-transition: background 300ms ease-in 2100ms;
    transition: background 300ms ease-in 2100ms;
    }

#landing_page {
  min-height: 100vh;
}

#banners {
  height: 720px;
}

#Explore {
    font-size: 100%;
    /* background-color: rgba(136, 136, 136, 0.4); */
    padding: 10px;
    margin: 0 auto;
    text-align: center; 
    width:80px;
}

a#Explore:hover {
    /* background-color: #5900b3;*/
}


#Explore a:hover {
    color: #000000;
}

#Explore a:visited {
    color: #5900b3;
}


/*animation element*/

.animation-element {
  opacity: 0;
  position: relative;
}


/*animation element sliding left*/

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  -moz-transform: translate3d(-1000px, 0px, 0px);
  -webkit-transform: translate3d(-1000px, 0px, 0px);
  -o-transform: translate(-1000px, 0px);
  -ms-transform: translate(-1000px, 0px);
  transform: translate3d(-1000px, 0px, 0px);
}

.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  -moz-transform: translate3d(1000px, 0px, 0px);
  -webkit-transform: translate3d(1000px, 0px, 0px);
  -o-transform: translate(1000px, 0px);
  -ms-transform: translate(1000px, 0px);
  transform: translate3d(1000px, 0px, 0px);
}

.animation-element.slide-left.in-view,.animation-element.slide-right.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}


/*animation slide left styled for testimonials*/

.animation-element.slide-left.testimonial, .animation-element.slide-right.testimonial {
  float: left;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.animation-element.slide-right.testimonial:hover,
.animation-element.slide-right.testimonial:active,
.animation-element.slide-left.testimonial:hover,
.animation-element.slide-left.testimonial:active {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.animation-element.slide-left.testimonial:nth-of-type(odd) {
}

.animation-element.slide-left.testimonial:nth-of-type(even) {
}



/*media queries for small devices*/

@media screen and (max-width: 678px) {
  /*testimonials*/
  .animation-element.slide-left.testimonial,
  .animation-element.slide-left.testimonial:nth-of-type(odd),
  .animation-element.slide-left.testimonial:nth-of-type(even) {

  }
  .animation-element.slide-left.testimonial .right,
  .animation-element.slide-left.testimonial .left,
  .animation-element.slide-left.testimonial .content,
  .animation-element.slide-left.testimonial .rating {

  }
  .animation-element.slide-left.testimonial img {

  }
}



/* Custom Button Styles */
#FindMore {
    border-style:solid;
    background-color:rgba(89,0,179,0.4);
    align-content: center;
    width: 50px;
    font-size: 800%;
    margin: 0 auto;
}


  
/* basic elements */
.hangingindent {
  padding-left: 60px ;
  text-indent: -60px ;
}

.FrontNav::hover {
    border:1px solid #eee;
}

.navBanner{
    position:relative; 
    background-color: #5900b3;
    height: 180px;
    width:100%;
}

.BText {
    color: #eee;
    width: 80%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    vertical-align: middle;
  justify-content: center;
}

.collaborators {
    height: 100px;
}

.Rtext {
    text-align: right;
}

.RFNav {
  display: block;
  float: right;
    margin-left: 20px;
}

.LFNav {
  display: block;
  float: left;
    margin-right: 20px;
}



.GBan{
    background-color: #888888;
}

.PBan{
    background-color: #5900b3;
}


p span.test{ 
    font-weight: bold;
    font-style: italic;
}

.cmti-10{ font-style: italic;}

p.noindent { text-indent: 0em }

html {
    margin: 0;
    padding: 0;
    }
  
/* Used */
h1 h2 h3{
    font-family: Raleway;
    color: #5900b3;
 }

.resourceBlock h2 {
    font-family: Raleway;
    color: #5900b3;
 }

.menu-side-container {
    text-align: right;
    margin-left: 0px;
    padding-left: 0px; 
    padding-bottom: -10px;
}
  
.section {
    font-family: Raleway;
    color: #5900b3;
    margin: auto;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 30px;
    /*margin-left: 60px;*/
    font-size: 120%;
    letter-spacing: 3px;
}

.sectionF {
    font-family: Raleway;
    color: #5900b3;
    margin: auto;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    /*margin-left: 60px;*/
    letter-spacing: 3px;
}

.section_ {
    font-family: Raleway;
    color: #5900b3;
    margin: auto;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 30px;
    /*margin-left: 60px;*/
    font-size: 120%;
    letter-spacing: 3px;
}

#container {
    width: 75%;
    margin: 0 auto;
    position: relative;
    /*min-width: 730px;*/
}

#body {
    width: 1000px;
    margin: auto;
}


 
#Pubcontrast {
    width: 1000px;
    height: 25px;
    margin: auto auto;
    /*margin-left: 50px;
    margin-right: 100px;*/
    background-color: #eee;
    box-shadow: 5px 25px 25px #888888;
}
  
#contrast {
    width: 1000px;
    height: 375px;
    margin: auto auto;
   /* margin-left: 50px;
    margin-right: 100px;*/
    background-color: #eee;
    box-shadow: 5px 5px 10px #888888;
}

#contrast_A {
    width: 100%;
    margin: auto auto;
   /* margin-left: 50px;
    margin-right: 100px;*/
    /*box-shadow: 5px 5px 10px #888888;*/
}




#base {
    width: 100%;
    min-width: 800px;
    height: 100px;
    margin-top: 80px;
   /* margin-left: 50px;
    margin-right: 100px;*/
    background-color: #eee;
    box-shadow: 0px -1px 5px #bbbbbb;
    position: relative;
}

#base_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: -15px;
}

#base_text p {
    min-width: 500px;
    margin-bottom: 0;
    text-align: center;
}
  
body { 
    font-family: Roboto, sans-serif; /*Roboto Montserrat*/
    line-height: 1.88889;
    color: #000000; 
    background-color: #eee;
    /*background: #fff url(brain6.png) no-repeat center center; 
    background-size: cover;*/
    /*min-width: 800px;*/
    margin: auto; 
    padding-top: 0px;
    height:100%;
    width: 100%;
    /*min-width: 1200px;*/
    }

p.rblurb { 
    margin-top: 0;
    text-align: justify;
    }

span div.text p{
    margin-right: 20px;
    margin-left: 20px
}

span div#aboutme_text p{
    
}

span p { 
    /*margin-top: 0; */
    text-align: justify;
    }
 
h3 { 
    font: italic normal 1.2em Roboto, sans-serif;
    letter-spacing: 1px; 
    margin-bottom: 10px; 
    color: #666666;
    text-shadow: 2px 2px 10px #888888;
    }
  
a:link { 
    font-weight: regular; 
    text-decoration: none; 
    color: #5900b3;
    }
a:visited { 
    font-weight: regular; 
    text-decoration: none; 
    color: #8c1aff;
    }
a:hover, a:focus, a:active { 
    text-decoration: none; 
    cursor: pointer;
    color: #bf83fb; 
    }
  
header h1 { 
    background: transparent;
    margin: auto auto;
    padding: 0px 0px;
    display: block;
/*  width: 219px;
    height: 87px;*/
    float: center;
/*    color: #B7A5DF; */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    }
  
/*header {
    padding-top: 0px;
    display: block;
    background: transparent url(R.png) no-repeat center top fixed; /*40% 0%; brain6.png, brain5.jpg*/
    /*background-color: #ffffff; 
    background-size: 90% auto;
    /*background: transparent url(brain6.png) no-repeat 60% top fixed; /*40% 0%; brain6.png, brain5.jpg*/
    /*background-color: #000000;/*#000000;*//* */
    /*border-left: 5px; /* Need to add the bottom border*/
/*}*/
  
#Rpic {
    display: block;
    width: 80%;
    margin: auto;
}

/*header {
    min-width: 770px;
    width: 100%;
    min-height: 157.5px; 
    height: 275px;
    max-height: 275px;
    display: block;
    background: url(R_grey.png) no-repeat 50% 0%;
    background-size: contain;
    background-color: #eee;
}*/

nav h2 {
    display: inline-block;
    font-weight: 400;
}
  
  
nav {
    /*padding-top: 282px;
    margin-bottom: 100px;*/
    width: 100%;
    margin: auto auto;
    padding-left: 0;
    padding-left: 0px;
    margin-bottom: -30px;
}

nav#front  {
    font-size: 2rem;
    margin-bottom: 0px;
}

nav div#announcements  {
    font-size: 1rem;
    margin-bottom: 0px;
}

div#announcements h1, div#announcements p{
    text-align: justify;
}


nav h1 {
    margin-top: 5%;
    color: #5900b3;
    font-family: Raleway;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

footer table {
    margin: auto;
    font-family: Roboto;
    width: 300px;
    margin-top: -15px;
    margin-bottom: -10px;
    padding: 0px;
    font-weight: 700;
    font-size: 1.15rem;
    min-width: 60px;
    border-spacing: 0px;
}

footer td {
    text-align: center;
    width: 150px;
    margin: 0px;
}

table {
    margin: auto auto;
    font-family: Roboto;
    border-spacing: 25px;
}
  
td {
    text-align: center;
    margin: 50px 50px;
    border-spacing: 50px;
}

td a:visited { 
    font-weight: regular; 
    text-decoration: none; 
    color: #5900b3;
    }
td a:hover, a:focus, a:active { 
    text-decoration: none; 
    cursor: pointer;
    color: #bf83fb;
    }
  
/* Sub Menus */
/*
.dropdown-content {
    display: inline;
}
  
.dropdown:hover {
    cursor: default;
}
.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}*/
  
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!Add Shadow to Gray block to make look pretty!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

  
div.mainA{
    /*min-width: 720px;*/
    /*height: inherit;*/
    margin-top: -10px;     
    /*margin-left: 40px;
    margin-top: -30px*/
    background-color: #b3b3b3;
    box-shadow: 5px 5px 10px #888888;
    /*border: 3px solid #5900b3;*/
}

div.main{
    width: 1000px;
    height: inherit;
    margin: 0 auto;
    /*margin-left: 40px;
    margin-top: -30px*/
    background-color: #b3b3b3;
    box-shadow: 5px 5px 10px #888888;
    z-index: 5;
    position: relative;
    /*border: 3px solid #5900b3;*/
}
  
span.mainResearch {
    width: 100%;
    height: inherit;
    /*margin: 31px 28px 25px 35px;*/
    font-family: 'Amiko', Roboto, sans-serif;
    line-height: 1.3;
    display: inline-block;
    position: relative;
    border-radius: 4px 4px 4px 4px;
}

.research_main {
    margin: 25px 10px 20px 10px;
}

/*.figure {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

.intextCite {
	font-size: 70%;
}
  
div.supplement {
    width: inherit;
    margin-top: 40px;
    /*font-family: 'Amiko', serif;*/
    line-height: 1.3;
}

h1.research {
    font-family: Raleway;
    margin-bottom: -10px;
    color: #5900b3;
} 

.research_questions {
    font-style: italic;
    font-weight: bold;
    text-align: justify;
    margin-left: 30px;
    font-size: .75em;
}


/*div.text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}*/
 
#figure {
    float: right;
    margin: 0px 0px 10px 20px;
}
  
#cite {
    margin-top: -5px;
    font-size: 50%;
    font-weight: bold;
}
  
#cite a {
    text-decoration: underline;
    color: #5900b3;
    font-weight: bold;
}

#cite a:hover, a:focus, a:active { 
    cursor: pointer;
    color: #bf83fb;
}

.blurb {
    margin-bottom: 55px;
}

.project_questions {
    font-style: italic;
    font-weight: bold;
    text-align: left;
}
  
h1.PubSection, h2.PubSection {
    font-family: Raleway;
    color: #5900b3; 
}

.mainPubs {
    margin-top: -10px;
}

.pubentry {

}

.me {
    font-weight: bold;
    font-family: Roboto, sans-serif;
}

.Pubtitle {

}

.Conftitle{
	font-style: italic;
}

.location {

}

.journal {
	font-style: italic;
}

.note{
	text-decoration: italic;
	font-size: 80%;
}  

#BottomNote {
    margin-top: 50px;
}

span.mainAbout {
    min-width: 720px;
    height: inherit;
    width: 80%;
    font-family: 'Amiko', sans-serif;
    line-height: 1.3;
    display: inline-block;
}

span.about_photo {
    display: inline-block;
    position: relative;
    width: 300px;
    height: inherit;
    float: left;
    margin: auto auto;
}

#photo {
    float: left;
    margin: 0px 18px 10px 0px;
}
/*
  
#photo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

.mainResource {
}
.resourceBlock {
    display: block;
    width: 100%;
    /*min-width: 720px;
    min-width: 720px;*/
   /* height: 325px;
    margin-top: 30px;
    background-color: #b3b3b3;
    box-shadow: 5px 5px 10px #888888;*/
    /*border: 3px solid #5900b3;*/
}

.Demos {
    background-color: #b3b3b3; 
    box-shadow: 5px 5px 10px #888888;
}

.Demos .resourcetext {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
    padding-bottom: 1px; 
}


.resourcetext .links {
}

.resourceBlock h1 {
	font-family: Raleway;
    color: #5900b3;
}

.resourceBlock h3{
    color: #000000;
    text-decoration: underline;
}


.tex sub, #latex sub, #latex sup {
  text-transform: uppercase;
    font-weight:100; 
}

.tex sub, #latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
font-weight:100;
}

.tex, #latex, .tex sub, #latex sub {
  font-size: 1em;
    font-weight:100;
}

#latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}


.left {
	position: relative;
	float: left;
}

.right {
	position: relative;
	float: right;
	margin-left: 8px;
}

.ContactMe {
	display: inline-block;
	margin-top: 20px;
}

.ContactMe h1{
	font-family: Raleway;
    color: #5900b3;
    margin-bottom: 0px;
}

p a {
    text-decoration: underline;
    font-weight: bold;
}
  
td {
    color: #ffffff;
}
  
nav li {
    display: inline; 
    padding-right: 10px;
    padding-left: 10px; 
    margin-bottom: 0px;
    list-style-type: none;
    }

li {
    
}

.mainResource li a {
    font-weight: bold;
}

nav li a:link {
    color: #5900b3;
    font-weight: regular;
    }
nav li a:visited {
    color: #5900b3;
    font-weight: regular;
    }
nav li a:hover {
    color: #bf83fb;
    font-weight: regular;
    }


#menu-icon {

	display: hidden;
	width: 40px;
	height: 40px;
	background: #b3b3b3 url(images/menu-icon.png) center;
    border-radius: 4px 4px 4px 4px;

}

a:hover#menu-icon {

	background-color: #b3b3b3;
	

}

span.cmti-10 > span {
        padding-left: 10em;
}

.btn, #goog-wm-sb {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0.25em;
    margin-right: 1em;
    padding: 0.5em .75em;
    color: #ffffff !important;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: .75em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #7a8288;
    border: 0 !important;
    border-radius: 4px;
    cursor: pointer;
    text-indent: 0px ;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}


.PurpleButton:hover, #goog-wm-sb:hover {
    background-color: #bf83fb; /*#bf83fb #8c1aff*/
/*    background-color: #333;*/
}

.btn .icon, #goog-wm-sb .icon {
    margin-right: 0.5em
}

.btn .icon + .hidden, #goog-wm-sb .icon + .hidden {
}

.PurpleButton {
    background-color: #5900b3;    
    border: 1px solid #bdc1c4 !important;
}

.BlackButton {
    background-color: #000000;
    border: 1px solid #bdc1c4 !important;
}



.BlackButton:hover {
    color: #000!important;
    border-color: #7a8288;
    background-color: #ccc;
/*    background-color: #333;*/
}

.WhiteButton {
    color: #000000 !important;
    border: 1px solid #bdc1c4 !important;
    background-color: #fff;
}

.WhiteButton:hover {
    color: #fff !important;
/*    border-color: #7a8288;*/
    background-color: #333;    
}

/*MEDIA QUERY*/
@media only screen and (max-width : 876px) {


	nav {
        width: inherit;
    }
    
    #menu-icon {

		display:inline-block;
        right: 0px;
    }
    
    div.mainA {
        margin-top: 25px;
        width: 100%;
        border-radius: 4px 4px 4px 4px;
    }
    
    div.supplement {
    width: 100%;
    margin-top: 40px;
    /*font-family: 'Amiko', serif;*/
    line-height: 1.3;
}
    
    /*.menu-side-container{
        align: right;
    }*/

	nav ul, nav:active ul { 
        display: none;
        position:absolute;
		padding: 0px;
		border: 5px solid #656565;
		width: 25%;
        min-width: 140px;
        right: 12.5%;
        margin-right: 12.5%;
		border-radius: 4px 4px 4px 4px;
        margin-bottom: 10px;
        margin-top: -10px;
        z-index: 100;
        background-color: #b3b3b3;

	}

	nav li {

		text-align: center;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
        display: block;

	}

	nav:hover ul {

		display: block;
        right: 0px;
        margin-bottom: 10px;

	}
    
@media only screen and (max-width : 720px) {

    body {
        
    }
    
    #container {
        width: 90%;
        min-width: 150px;
	}
    
    #contrast_A {
        width: 100%;
    }
    
    #base {
        width: 100%;
        min-width: 150px;
    }
    
    #base_text p {
        width: 100%;
        min-width: 150px;
        margin-bottom: 0;
        text-align: center;
    }

	nav {
        width: inherit;
    }
    
    #menu-icon {

		display:inline-block;
        right: 0px;
    }
    
    div.mainA {
        margin-top: 25px;
        width: 100%;
    }
    
    div.supplement {
        width: 100%;
        margin-top: 40px;
        /*font-family: 'Amiko', serif;*/
        line-height: 1.3;
    }
    
    /*.menu-side-container{
        align: right;
    }*/

	nav ul, nav:active ul { 
        display: none;
        position:absolute;
		padding: 0px;
		/*border: 5px solid #6e6e6e;*/
		width: 25%;
        min-width: 140px;
        right: 5%;
        margin-right: 5%;
		border-radius: 4px 4px 4px 4px;
        margin-bottom: 10px;
        margin-top: -10px;
        z-index: 100;
        background-color: #b3b3b3;

	}

	nav li {

		text-align: center;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
        display: block;
	}

	nav:hover ul {

		display: block;
        right: 0px;
        margin-bottom: 10px;

	}
    
    
    
@media only screen and (max-width : 575px) {

    #photo, #figure {
        display: block;
        float: none;
        margin: 0px 0px 15px 0px;
    }
    
    #photo img {
        display: block;
        margin: auto;
        border-radius: 4px 4px 4px 4px;
    }
    
    #figure img, #figure #cite {
        display: block;
        margin: auto;
        text-align: center;
    }
    
    #figure img{
        border-radius: 4px 4px 4px 4px;
    }
}

@media only screen and (max-width : 800px) {

    #front table {
        border-spacing: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        
    }
    
    #footer {
        width: 100%;
        min-width: 150px;
        bottom: 0px;
    }
    


    nav td {
        display: block;
        border-spacing: 0px;
        margin-bottom: 0px;
        margin-top: 10px;
    }
}
     
/* start css.sty */


    
</style>
